[submodule "apps/web"]
	path = apps/web
	url = https://github.com/fractionaxapp/web.git
[submodule "services/api"]
	path = services/api
	url = https://github.com/fractionaxapp/api.git
[submodule "ai"]
	path = ai
	url = https://github.com/fractionaxapp/ai.git
[submodule "services/gateway"]
	path = services/gateway
	url = https://github.com/fractionaxapp/gateway.git
[submodule "apps/mobile"]
	path = apps/mobile
	url = https://github.com/fractionaxapp/mobile.git
